aiofiles==23.2.1
aiogram==3.12.0
aiogram_dialog==2.2.0b3
aiohappyeyeballs==2.3.7
aiohttp==3.10.4
aiosignal==1.3.1
aiosqlite==0.20.0
annotated-types==0.7.0
anyio==4.4.0
attrs==24.2.0
babel==2.16.0
cachetools==5.5.0
certifi==2024.7.4
distro==1.9.0
environs==11.0.0
fluent-compiler==0.3
fluent.syntax==0.19.0
fluentogram==1.1.7
frozenlist==1.4.1
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.5
httpx==0.27.2
idna==3.7
Jinja2==3.1.4
jiter==0.5.0
magic-filter==1.0.12
MarkupSafe==2.1.5
marshmallow==3.21.3
multidict==6.0.5
openai==1.43.1
ordered-set==4.1.0
packaging==24.1
pydantic==2.8.2
pydantic_core==2.20.1
python-dotenv==1.0.1
pytz==2024.1
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.34
tqdm==4.66.5
typing_extensions==4.12.2
watchdog==2.3.1
yarl==1.9.4
